
    body {
      background-color: azure;
    }
    h2 {
      text-align: center;
    }
    .forms {
      margin: 0 12%;
      display: flex;
      flex-wrap: wrap;
    }
    .forms div {
     margin: 30px 35px;
     width: 200px;
    }
   .btn {
     margin: 10px ;
     box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
     
   }
    input {
      background-color: rgb(168, 255, 127);
      border: 2px solid darkslategray;
      margin: 20px ;
      box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    }

    p {
      text-align: center;
      margin: 30px;
      line-height: 2em;
    }
    textarea {
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
    h4 {
      text-align: center;
      margin-left: 30px;
    }
  
    .form-100 {
      margin: 40px 0px 20px 200px;
      display: flex;
      flex-direction: row;
    }
    #cpf-100{
      width: 300px;
      height: 100px;
    }
    #cpf-result-100 {
      width: 100px;
      height: 200px;
    }
    #cpf-result-100-with-dots {
      width: 125px;
      height: 200px;
    }